<div class="friendpage">
<div class="box3">
       <h1>Merlin</h1>
       <img src="images/cat1.png">
        <p>
          My name is Merlin! I like playing with trucks and fishing with my dad. I have diabetes. I use Merlin Helps to keep track of my glucose checks.
       </p>
       <br/>

</div>
<div class="box3">
       <h1>Moxie</h1>
       <img src="images/cat2.png">
        <p>
          My name is Moxie! I like finding seashells on the beach and playing basketball. I have epilepsy. I use Merlin Helps to keep track of my seizure medication.
       </p>
       <br/>
</div>
<div class="box3">
       <h1>Mollie</h1>
       <img src="images/blackcat.png">
        <p>
          My name is Mollie! I like playing video games and taking my dog, Skipper, for walks. I have high blood pressure. I use Merlin Helps to keep track of my blood pressure medications.
       </p>
       <br/>
</div>
<div class="box3">
       <h1>Mixon</h1>
       <img src="images/browncat.png">
        <p>
          My name is Mixon! I like riding my bike and swimming. I have ADHD. I use Merlin to help me keep track of my medications.
       </p>
       <br/>
</div>
<div class="box3">
       <h1>Mozz</h1>
       <img src="images/orangecat.png">
        <p>
          My name is Mozz! I like math and helping my mom cook. I have autism. I use Merlin to send me reminders to help me keep track of time.
       </p>
       <br/>
</div>

<div class="box3">
       <h1>Mugsy</h1>
       <img src="images/whitecat.png">
        <p>
          My name is Mugsy! I like playing board games and reading books. I used to wet the bed. I use Merlin Helps to wake me up at night to go to the bathroom.
       <br/>
</div>
</div>
