

<div class="container2">

  <div id="menu-example" class="menu wobble">
    <a href="/#/kids">
      <h5>PLAY GAMES!</h5></a>
    <a href="/#/friends">
      <h5>MEET THE GANG!</h5><a>
   <a href="/#/videos">
    <h5> VIDEOS!</h5><a>
  </div>

<img class="bigcat" src="images/cat1.png" alt="">
<img class="talkbubble" src="images/talkbubble.png" alt="">

    <div class="cats">
      <img id="animated" class="animated bounce" src="images/browncat.png" alt="">
      <img id="animated" class="animated bounce" src="images/blackcat.png" alt="">
      <img id="animated"class="animated bounce" src="images/cat2.png" alt="">
      <img id="animated"class="animated bounce" src="images/whitecat.png" alt="">

      <img id="animated"class="animated bounce" src="images/orangecat.png" alt="">
    </div>

<div class="footer"></div>
    </div>
