<div class="container">
<!-- <div class="embed-responsive embed-responsive-16by9">
  <youtube-video class="embed-responsive-item" video-id="theBestVideo"></youtube-video>
</div>
 -->

 <!-- <iframe id="player" type="text/html" width="640" height="390"
   src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com"
   frameborder="0">
 </iframe> -->

 <iframe width="800" height="400" src="https://www.youtube.com/embed/DZcaMqd6VmE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
