
<h1> Download a Merlin Helps Watchface to your child's Pebble Smartwatch</h1>
<h1>Merlin Mobile App </h1>
 <div class="mobilez">

  <!-- <img src="images/pebbleface.png" alt=""> -->

<div class="pebbs">

  <a href="http://www.watchface-generator.de/wf/20150322/merlin_helps/"><img class="pebimg" src="images/pebbleface.png"></a>
<!-- <a href="" <img src="" alt="">></a> -->
<!-- <span>Download WatchFace to your child's Pebble Smartwatch</span>
 -->

</div>
<!-- <a href="http://www.watchface-generator.de/wf/20150322/merlin_helps/">Download a watchface for your child's Pebble!</a> -->



<div class="sidepebbs">

  <img class="io" src="images/merlinapp.png"  alt="">
<!--   <span>Merlin Mobile App</span> -->
</div>


 </div>
